@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --body-bgc: #f5f7f8;
  --card-bgc: white;
  --blue: #199de5;
  --dark-blue: #076490;
  --box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  --hover-color: #ccc;
  --dark-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Common css styles */
/* Dev css */
.main-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.left-container {
  height: 78vh;
}
.middle-container {
  background-color: var(--card-bgc);
}

/* Header css */
header {
  background-color: var(--blue);
  padding: 0;
}
.nav-home {
  background-color: var(--dark-blue);
  padding-right: 10px;
}
.home {
  text-decoration: none;
  color: var(--body-bgc);
}
.fa {
  color: var(--body-bgc);
  font-size: 18px;
  padding: 5px 15px;
}
.nav-home:hover {
  background-color: lightgrey;
  .home,
  .fa-home {
    color: black;
  }
}
.navbox:hover {
  background-color: var(--body-bgc);
  .fa {
    color: black;
  }
}

/* Left-container: My Profile, etc... */
.left-box {
  box-shadow: var(--box-shadow);

  margin: 10px 0px;
}
.left-profile h4 {
  font-size: 16px;
}
.profile-image img {
  border-radius: 50%;
  width: 60%;
}
.profile-info {
  text-align: left;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
.profile-info .fa {
  color: #607d8b;
  font-size: 10px;
}

/* Ayzada css start */
.status-field {
  border: 1px solid #ccc;
  padding: 8px 16px;
}
.post-btn {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: var(--card-bgc);
  background-color: var(--blue);
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 16px;
}
.time {
  float: right;
}
.post-container {
  padding: 0.1em 16px;
  margin: 16px;
  font-size: 13px;
  text-size-adjust: 100%;
}
.post-shadow {
  box-shadow: var(--box-shadow);
}
.post-br {
  border-radius: 4px;
}
.post-left {
  float: left;
}

.av-circle {
  border-radius: 50%;
}

.post-right {
  margin-right: 16px;
}
.post1-img {
  padding: 0 8px;
}
.post1-2img {
  padding: 0 8px;
  margin-bottom: 16px;
}

/* Ayzada css end */

/* Right-col styles */

.events,
.request,
.ads,
.bug {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  margin-bottom: 25px;
}

.events img {
  width: 100%;
}

.events,
.request {
  padding: 15px;
}

.text {
  font-weight: 600;
}

.infoBtn {
  display: inline-block;
  color: var(--dark-color);
  border: 1px solid #dfe5e8;
  border-radius: 2px;
  background-color: #dfe5e8;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
}

.infoBtn:hover {
  background-color: var(--hover-color);
}

.request img {
  width: 50%;
}

.btns {
  display: flex;
  justify-content: center;
}

.add,
.cancel {
  padding: 6px 20px;
  border: transparent;
  border-radius: 2px;
  outline: none;
  font-weight: bold;
  font-size: medium;
  color: var(--card-bgc);
}

.add:hover,
.cancel:hover {
  background-color: #e0e0ee;
  color: #666;
}

.add {
  background-color: #94cf96;
}

.cancel {
  background-color: #f88e86;
}

.ads {
  padding: 28px 0;
  text-transform: uppercase;
}

.ads p {
  margin: 0;
}

.bug {
  padding: 40px 0;
}

.bug i {
  font-size: 30px;
  color: var(--dark-color);
}

/* Zarina css end */

/* Footer */
footer {
  color: var(--body-bgc);
}
.footer {
  background-color: var(--blue);
  padding: 20px 15px;
  font-size: 1rem;
}
.poweredBy {
  background-color: var(--dark-blue);
  font-size: 0.7rem;
  padding: 15px;
}
.team3 {
  text-decoration: underline;
}

/* 

.w3-theme-d2, .w3-theme, .w3-theme-d1, .w3-theme-d3, .w3-theme-l1 {
    background-color: #199de5 !important;
}
.w3-theme-d4, .w3-theme-d5, .w3-theme-l1.w3-theme-d1 {
    background-color: #076490 !important;
}
.w3-theme-d4, .w3-theme-d5 {
    background-color: #076490 !important;
} */
