@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --body-bgc: #f5f7f8;
  --card-bgc: white;
  --blue: #199de5;
  --dark-blue: #076490;
  --box-shadow: 10px 10px lightblue;
  --hover-color: #ccc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

.main-wrapper {
  max-width: 1200px;
}
/* Common css styles */

/* Zarina css start */

/* Zarina css end */
/* Ayzada css start */

/* Ayzada css end */
/* Kai css start */

/* Kai css end */
/* Imamidin css start */

/* Imamidin css end */
/* Gulburak css start */

/* Gulburak css end */
